body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.loader {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#gallery-slider img {
  width: 300px;
  margin: 10px;
  border-radius: 10px;
}
